h1 {
    color:white;
background-color: #4aaaa5;
font-family: 'Arial', 'Helvetica Neuve', Helvetica, sans-serif;
padding: 3%;
text-align: center;
margin-left: 6%;
margin-top: -2%;
margin-bottom: -0.6%;
font-size: 32px;
}
.messages {
    height: 100px;
}
body {
    background: url("../images/concrete.jpg");
}
h2 {
    background-color: white;
    color:#4aaaa5;
    border-bottom-style: groove;
    padding-top: 1%;
    padding-bottom: 1%;
}
h4 {
    position:relative;
    bottom: 20%;
    color:white;
background-color: #4aaaa5;
text-align: center;
width:200px;
}
p {
    background-color: white;
    color: #777777;
}
.about {
    background-color: white;
}
.navbar {
    border-bottom-style: solid;
    border-bottom-color: grey;
}
.nav-link {
    position:relative;
    right: 5%;
    color: grey;
    
}
.col {
    padding-left: 5%;
    padding-right: 5%;
}
.col-3 {
    padding-left: 5%;
    padding-right: 5%;
}
.col-9 {
    padding-right: 5%;
}
.input-group {
    margin-bottom: 3%;
}
.input-group1 {
    margin-bottom: 3%;
}
.col1 {
    padding-left: 5%;
}
.col3 {
    padding-left: 5%;
}
.col4 {
    padding-left: 5%;
    margin-bottom: 3%;
}
.col2 {
    padding-left: 5%;
    margin-bottom: 3%;
}
.btn {
    background-color: #4aaaa5;
    border-color: #4aaaa5;
    margin-bottom: 3%;
}
@media only screen and (max-width: 980px) {
h1 {
    margin-top: -2%;
margin-bottom: -0.8%;
}
.col-3 {
    width: 300px;
    margin-right: 1%;
}
.col-9 {
    padding-left: 5%;
}
}
@media only screen and (max-width: 768px) {
    h1 {
        margin-top: -2%;
    margin-bottom: -1.2%;
    }
}
@media only screen and (max-width: 640px) {
    h1 {
        width: 1000px;
        margin: -2% -5% 0% -5%;
        padding:5%;
    }
    .nav-link {
        position:relative;
        right: 28%;
        
    }
    .col-3 {
        margin-right:30%;
        margin-left: 28%;
    }
    .col-6 {
        margin-right: 30%;
        margin-left: 28%;
    }
    .col1 {
        margin-top: 8%;
    }
    .col2 {
        margin-top: 8%
    }
    .col3 {
        margin-left: 28%;
    
    }
    .col4 {
        margin-left: 28%;
        margin-bottom: 8%;
    }
}